.title-styling {
  text-align: center;
}
.other {
  padding-left: 3%;
  width: 100%;
}
.input-class {
  width: 90%;
}
.values-container {
  background-color: inherit;
  width: 11%;
  height: auto;
  border-top: 5px solid inherit;
  border-right: 6px solid black;
  border-left: 6px solid black;
  border-bottom: 6px solid black;
  margin: 1em 0;
  position: relative;
}

.stack-level-first-game-buttons {
  appearance: button;
  background-color: #294050;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #f9f9f9;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0 5px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 10%;
  height: 52px;
  position: relative;
}

.stack-level-first-game-buttons:after {
  background-clip: padding-box;
  background-color: #3498db;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.stack-level-first-game-buttons:main,
.stack-level-first-game-buttons:focus {
  user-select: auto;
}

.stack-level-first-game-buttons:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.stack-level-first-game-buttons:disabled {
  cursor: auto;
}

.stack-level-first-game-buttons:active {
  border-width: 4px 0 0;
  background: none;
}

.stack-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 90%;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 5px;
}

.stack-field {
  width: 20px;
  height: 100%;
  background-color: #3498db;
}
.pushed-stack-field {
  width: 20px;
  height: 100%;
  background-color: red;
}
