.button-bar-stack-level {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 90%;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 5px;
}

.stack-level-bar-buttons {
  appearance: button;
  background-color: #294050;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #f9f9f9;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0 5px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 15%;
  height: 52px;
  position: relative; /* Add this to position the :after pseudo-element correctly */
}

.stack-level-bar-buttons:after {
  background-clip: padding-box;
  background-color: #3498db;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.stack-level-bar-buttons:main,
.stack-level-bar-buttons:focus {
  user-select: auto;
}

.stack-level-bar-buttons:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.stack-level-bar-buttons:disabled {
  cursor: auto;
}

.stack-level-bar-buttons:active {
  border-width: 4px 0 0;
  background: none;
}

.stack-level-bar-buttons.locked {
  background-color: grey;
  color: #a9a9a9; /* Optional: Adjust text color for better contrast */
  cursor: not-allowed;
}

.stack-level-bar-buttons.locked:after {
  background-color: grey;
}
