.title-styling {
    text-align: center;
  }
  
  .other {
    padding-left: 3%;
    width: 100%;
  }
  
  .input-class {
    width: 90%;
  }
  
  .stack-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 90%;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 5px;
  }
  
  .stack-field,
  .pushed-stack-field {
    width: 20px;
    height: 100%;
    border-radius: 5px;
  }
  
  .stack-field {
    background-color: #3498db;
  }
  
  .pushed-stack-field {
    background-color: red;
  }
  
  .question {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .check-button {
    padding: 10px 20px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .check-button:hover {
    background-color: #27ae60;
  }
  