.title {
  text-align: center;
}

@media screen and (min-width: 80rem) {
  .container {
    margin: 1em 2em;
  }
}

.all-div {
  display: flex;
  flex: 1;
  flex-direction: column;
}

@media screen and (min-width: 48rem) {
  .all-div {
    flex-direction: row;
  }
}

.game-content {
  width: 100%;
  padding-left: 3%;
}

.level-buttons {
  width: 60px;
  height: 100%;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.prep-level-container {
  display: flex;
  flex-direction: column;
  gap: 15%;
  height: auto;
  padding-top: 4%;
}

@media screen and (min-width: 48rem) {
  .prep-level-container {
    flex-direction: row; /* Row layout on medium and larger screens */
    height: 450px; /* Apply fixed height only on larger screens */
  }
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 5%;
}

.rectanglecontainer {
  background-color: inherit;
  width: 100%;
  height: auto;
  border-top: 5px solid inherit;
  border-right: 10px solid black;
  border-left: 10px solid black;
  border-bottom: 10px solid black;
  margin: 1em 0;
  position: relative;
}

@media screen and (min-width: 48rem) {
  .rectanglecontainer {
    width: 15%;
    height: 57vh;
  }
}

.stack-code-container {
  text-align: center;
  background-color: #d2d2d2;
  width: 35%;
  height: 100%;
  border: 2px solid grey;
  border-radius: 20px;
  padding: 20px;
  margin: 1em 0;
}

.stack-code-description-title-style {
  background-color: inherit;
  color: rgb(69, 23, 23);
  margin: 0;
  font-family: din-round, sans-serif;
}
.stack-prep-level-code-style {
  background-color: inherit;
  color: rgb(65, 65, 173);
  margin-top: 10px;
  font-size: 20px;
  font-family: din-round, sans-serif;
}

.stack-code-description-line {
  height: 2px;
  background-color: #000;
  width: 100%;
  margin: 10px 0;
}
.stack-code-description {
  background-color: inherit;
  color: purple;
  margin-top: 10px;
  font-family: din-round, sans-serif;
  font-size: 20px;
}

.box {
  width: 100%;
  height: 70px;
  background-color: #d9d9d9;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-number {
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  background-color: inherit;
}

.is-empty-result {
  color: rgb(46, 37, 37);
  font-size: 30px;
  text-align: center;
}
.prep-level-buttons {
  appearance: button;
  background-color: #294050;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #f9f9f9;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0 5px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 105%;
  height: 52px;
  position: relative;
}

.prep-level-buttons:after {
  background-clip: padding-box;
  background-color: #3498db;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.prep-level-buttons:main,
.prep-level-buttons:focus {
  user-select: auto;
}

.prep-level-buttons:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.prep-level-buttons:disabled {
  cursor: auto;
}

.prep-level-buttons:active {
  border-width: 4px 0 0;
  background: none;
}
