.title-styling {
  text-align: center;
  color: #f9f9f9;
  font-family: din-round, sans-serif;
}

.all-div {
  flex: 1;
  display: flex;
}

.other {
  padding-left: 3%;
  width: 100%;
}

.navbar-line {
  width: 100%;
  background-color: black;
  height: 5px;
}

.game-container {
  padding-top: 10%;
  display: flex;
  justify-content: center;
  position: relative;
}

.box-style {
  position: relative;
  border: red solid 2px;
  border-radius: 10px;
  padding: 5px;
  width: 12%;
  height: 80px;
  display: inline-block;
  box-sizing: border-box;
  margin-right: 8%;
}

@keyframes fadeInHead {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInTail {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-head {
  opacity: 0;
  animation: fadeInHead 1s forwards;
}

.animate-tail {
  opacity: 0;
  animation: fadeInTail 1s forwards;
}

.line-style::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: blue;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.push-buttons-styling {
  appearance: button;
  background-color: #294050;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #f9f9f9;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0 5px; /* Add margin here to create space between buttons */
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 20%;
}

.push-buttons-styling:after {
  background-clip: padding-box;
  background-color: #3498db;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.push-buttons-styling:main,
.push-buttons-styling:focus {
  user-select: auto;
}

.push-buttons-styling:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.push-buttons-styling:disabled {
  cursor: auto;
}

.push-buttons-styling:active {
  border-width: 4px 0 0;
  background: none;
}

.null-text {
  position: absolute;
  top: 50%;
  right: 5px; /* Adjust the right distance as needed */
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  font-size: 12px; /* Adjust the font size as needed */
  color: #000000; /* Adjust the color as needed */
}

.head-text {
  position: absolute;
  top: -20px; /* Adjust the top distance as needed */
  left: 50%; /* Center the text horizontally */
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  font-size: 12px; /* Adjust the font size as needed */
  color: #000000; /* Adjust the color as needed */
}

.single-head {
  left: 25%;
  transform: translateX(-50%);
}

.tail-text {
  position: absolute;
  top: -20px; /* Adjust the top distance as needed */
  left: 50%; /* Center the text horizontally */
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  font-size: 12px; /* Adjust the font size as needed */
  color: #000000; /* Adjust the color as needed */
}

.single-tail {
  left: 75%;
  transform: translateX(-50%);
}
.input-field {
  width: 10%;
}

.input-field::-webkit-outer-spin-button,
.input-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.temp-node {
  animation: moveDown 2s forwards;
}

@keyframes moveDown {
  0% {
    top: -80px;
  }
  100% {
    top: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fading-arrow {
  animation: fade 2s forwards;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
