/* .heap-container {
  position: relative;
  width: 100%;
  height: 200px;
  margin-top: 50px;
} */

/* .node {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  cursor: move;
  transition: left 0.5s, top 0.5s;
} */

/* .line {
  position: absolute;
  border-top: 2px solid black;
}
.buttons-placement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
} */

.prep-heap-level-buttons {
  appearance: button;
  background-color: #294050;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #f9f9f9;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0 5px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 18%;
  height: 52px;
  position: relative; /* Add this to position the :after pseudo-element correctly */
}

.prep-heap-level-buttons:after {
  background-clip: padding-box;
  background-color: #3498db;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.prep-heap-level-buttons:main,
.prep-heap-level-buttons:focus {
  user-select: auto;
}

.prep-heap-level-buttons:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.prep-heap-level-buttons:disabled {
  cursor: auto;
}

.prep-heap-level-buttons:active {
  border-width: 4px 0 0;
  background: none;
}

.prep-heap-level-buttons.locked {
  background-color: grey;
  color: #a9a9a9; /* Optional: Adjust text color for better contrast */
  cursor: not-allowed;
}

.prep-heap-level-buttons.locked:after {
  background-color: grey;
}
