.menu-bar {
  text-align: center;
  background-color: #d2d2d2;
  width: 17vw;
  height: 98vh;
  border: 2px solid grey;
  border-radius: 50px;
}
.algolingo-button {
  height: 90px;
  width: 17vw;
  background-color: transparent;
  text-align: center;
  border: 2px solid gray;
  border-radius: 50px;
  font-size: 2vw;
  /* font-size: 30px; */
  font-family: "Major Mono Display", monospace;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
