* {
  background-color: #5d7779;
}

.main-div {
  display: flex;
}

.levels-bar {
  margin-left: 20px;
  text-align: center;
  background-color: #9ba79a;
  width: 550px;
  height: 100vh;
  border: 2px solid grey;
  border-radius: 50px;
}

.levels-button {
  height: 90px;
  width: 550px;
  background-color: transparent;
  text-align: center;
  border: 2px solid gray;
  border-radius: 50px;
  font-size: 45px;
  /* font-family: "Leckerli One", cursive; */
  font-family: "Major Mono Display", monospace;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.start-bar {
  margin-left: 30px;
  text-align: center;
  background-color: #ffffff;
  width: 550px;
  height: 100vh;
  border: 2px solid grey;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
}

.start-button {
  height: 90px;
  width: 450px;
  background-color: #589357;
  text-align: center;
  border: 2px solid gray;
  border-radius: 50px;
  font-size: 45px;

  color: aliceblue;
  margin-top: 20px;
  font-family: "Leckerli One", cursive;
  /* font-family: "Major Mono Display", monospace;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  font-weight: bold; */
}

.start-button.locked {
  background-color: grey;
  cursor: not-allowed;
}

.levels-space {
  background-color: transparent;
  position: relative;
}

.circles {
  background-color: #589357;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-size: 30px;
  color: white;
  border: 1px solid #589357;
  position: relative;
}

.circles:hover::before,
.circles:hover::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px;
}

.circles:hover::before {
  border-color: transparent transparent transparent #589357;
  top: 32%;
  left: -31px;
  margin-top: -10px;
}

.circles:hover::after {
  border-color: transparent #589357 transparent transparent;
  top: 32%;
  right: -31px;
  margin-top: -10px;
}

.circles.closed {
  background-color: grey;
  cursor: not-allowed;
}

.image-container {
  height: 234px;
  width: 500px;
  border-radius: 50px;
  border: 2px solid gray;
  margin-top: 20px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 200px;
  width: 415px;
  background-color: transparent;
}

.start-bar .image-container {
  display: none;
}

.start-bar .image-container.visible {
  display: flex;
}

.level-name {
  color: black;
  font-family: din-round, sans-serif;
  background-color: transparent;
  margin-top: 20px;
}

.level-definition {
  color: rgb(0, 0, 0);
  font-family: din-round, sans-serif;
  background-color: transparent;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  margin-top: 10px;
}
