* {
  background-color: #5d7779;
}

.main-div {
  display: flex;
}

.levels-bar {
  margin-left: 20px;
  text-align: center;
  background-color: #9ba79a;
  width: 38.2vw;
  height: 98vh;
  border: 2px solid grey;
  border-radius: 50px;
}

.levels-button {
  height: 90px;
  width: 38.2vw;
  background-color: transparent;
  text-align: center;
  border: 2px solid gray;
  border-radius: 50px;
  font-size: 3vw;
  font-family: "Major Mono Display", monospace;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.start-bar {
  margin-left: 30px;
  text-align: center;
  background-color: #ffffff;
  width: 38.2vw;
  height: 98vh;
  border: 2px solid grey;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Aligns items to the top and bottom */
  padding-top: 5px;
}

.start-button {
  height: 90px;
  width: 38.2vw;
  background-color: #589357;
  text-align: center;
  border: 2px solid gray;
  border-radius: 50px;
  font-size: 3vw;
  color: aliceblue;
  /* margin-top: 20px; */
  margin-bottom: 7px;
  font-family: "Major Mono Display", monospace;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.start-button.locked {
  background-color: grey;
  cursor: not-allowed;
}

.levels-space {
  background-color: transparent;
  position: relative;
}

/* THISSSS */

.circles {
  background-color: #589357;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-size: 30px;
  color: white;
  border: 1px solid #589357;
  position: relative;
}

.circles:hover::before,
.circles:hover::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px;
}

.circles:hover::before {
  border-color: transparent transparent transparent #589357;
  top: 32%;
  left: -31px;
  margin-top: -10px;
}

.circles:hover::after {
  border-color: transparent #589357 transparent transparent;
  top: 32%;
  right: -31px;
  margin-top: -10px;
}

.circles.closed {
  background-color: grey;
  cursor: not-allowed;
}

.image-container {
  height: 30vh;
  width: 36vw;
  border-radius: 50px;
  border: 2px solid gray;
  margin-top: 20px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 25vh;
  width: 25vw;
  background-color: transparent;
}

.start-bar .image-container {
  display: none;
}

.start-bar .image-container.visible {
  display: flex;
}

.level-name {
  color: black;
  font-family: din-round, sans-serif;
  background-color: transparent;
  margin-top: 20px;
}

.level-definition {
  color: rgb(0, 0, 0);
  font-family: din-round, sans-serif;
  background-color: transparent;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.4vw;
  margin-top: 10px;
}

.main-menu-circles {
  appearance: button;
  background-color: #294050;
  border: solid transparent;
  border-radius: 50%;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #f9f9f9;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  /* font-size: 15px; */
  font-size: 2vw;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0 5px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 90px;
  height: 90px;
  position: relative;
}

.main-menu-circles:after {
  background-clip: padding-box;
  background-color: #589357;
  border: solid transparent;
  border-radius: 50%;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.main-menu-circles:main,
.main-menu-circles:focus {
  user-select: auto;
}

.main-menu-circles:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.main-menu-circles:disabled {
  cursor: auto;
}

.main-menu-circles:active {
  border-width: 4px 0 0;
  background: none;
}
.sorting-line {
  padding-top: 26vh;
  font-family: din-round, sans-serif;
  color: #d2d2d2;

  background-color: transparent;
}
