.register-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #f3f3f3;
  width: 35%;
  height: 70%;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.register-input {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
}

.error {
  color: rgb(255, 0, 0);
  margin-bottom: 10px;
}

.login-button {
  text-align: center;
}

.buttons-color {
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttons-color:hover {
  background-color: #0056b3;
}
