.title-styling {
  text-align: center;
}
.flexing {
  flex: 1;
  display: flex;
}
.width-of-objects {
  padding-left: 3%;
  width: 100%;
}
.navbar-line {
  width: 100%;
  background-color: black;
  height: 5px;
}
.amongus {
  width: 50%; /* Adjust the size as needed */
  height: auto; /* Maintain aspect ratio */
}
.queue-button-group {
  display: flex;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.queue-button-group button {
  background-color: #d9d9d9;
  font-size: 1.5rem;
  width: 150px;
  height: 3rem;
  border-radius: 45%;
  border: none;
}
.queue-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.queue-element {
  width: 50px;
  height: 50px;
  background-color: #f0f0f0;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  transition: transform 0.5s, opacity 0.5s;
}

.queue-element.enqueue {
  transform: translateX(100px); /* Adjust this value to match your needs */
}

.queue-element.dequeue {
  opacity: 0;
  transform: translateX(100px); /* Adjust this value to match your needs */
}



.code-container pre {
  margin: 0;
}

.code-container p {
  color: red;
  margin-top: 10px;
}

.bar {
  width: 50%;
  height: 5px;
  background-color: #000;
  position: absolute;
}

.bar.top {
  top: 410px;
  right: 220px;
}

.bar.bottom {
  bottom: 240px;
  right: 220px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: black;
}

.arrow.left {
  top: 390px;
  right: 900px;
}

.arrow.right {
  right: 200px;
  top: 390px;
}

.arrow-label {
  position: absolute;
  font-size: 16px;
  color: black;
}

.arrow-label.left {
  left: -30px; /* Adjust to position the left arrow label correctly */
  top: calc(50% - 20px); /* Adjust to position the label above the arrow */
  transform: translateY(-50%);
}

.arrow-label.right {
  right: 0px; /* Adjust to position the right arrow label correctly */
  top: calc(50% - 20px); /* Adjust to position the label above the arrow */
  transform: translateY(-50%);
}




